@import "bootstrap";

$rejected-color: #E9967A;
$approved-color: #F7F7F7;
$sold-color: #90EE90;
$submitted-color: #EEE685;

.approved {
	background-color: $approved-color !important;
}

.rejected {
	background-color: $rejected-color !important;
}
.submitted {
	background-color: $submitted-color !important;
}
.sold {
	background-color: $sold-color !important;
}

.maincontent {
	padding-top: 60px;
}

.row-padded {
  padding: 1em;
  background-color: #F7F7F7;
  border: 1px solid #DDD;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }