<!DOCTYPE html>
<html ng-app="marketplace">
<head>
  <title>MarketplaceMVP</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div ui-view>
		<%= yield %>
	</div>

	<a ui-sref="public">Public</a>
    <a ui-sref="seller">Seller</a>
    <a ui-sref="admin">Admin</a>
</body>
</html>
